.ChatWindow {
    height: 90vh;
}

.message-window {
    margin-top: 20px;;
    height: 80vh;
    width: 90vw;
    overflow-x: hidden; 
    overflow-y: scroll;
}

.message {
    padding: 3px 15px;
}

.message-content {
    text-align: left;
    color: black;
    background-color: azure;
    padding: 6px;
    border-radius: 25px;
}

.message-user {
    text-align: right;
    margin: 10px;
    color: black;
    font-size: 15px;
    color: white;
    /* background-color: azure; */
}