.ChatWindow {
    height: 90vh;
}

.message-window {
    margin-top: 20px;;
    height: 75vh;
    width: 90vw;
    overflow-x: hidden; 
    overflow-y: scroll;
    padding-left: 20px;

}

.message {
    padding-top: 3px;
}

.message-content {
    text-align: left;
    color: black;
    background-color: azure;
    padding: 6px;
    border-radius: 25px;
}

.message-user {
    text-align: right;
    margin: 4px;
    color: black;
    font-size: 15px;
    color: white;
}