.InputWindow {
    color: white;
}

.InputWindow > form > button {
    color: white;
    font-size: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    background-color: #4285F4;
    margin: 2px;
}

.InputWindow > form > input {
    margin: 8px;
    color: black;
    font-size: 30px;
}